@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

::-moz-selection { 
	color: #000; 
	background: #ffffbf;
}

::selection { 
	color: #000; 
	background: #ffffbf;
}

html {
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0 auto;
	font-family: 'DM Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	color: #424b54;
}

a:link, a:visited {
	position: relative;
	text-decoration: none;
	color: inherit;
}

/* HOVER **********/

@media (hover: hover) {

	a:hover {
		color: #000;
		transition: color .3s ease-in-out;
	}
}


/* HEADER **********/

header {
	width: 100%;
	display: block;
	text-align: center;
}

.logotype {
	width: 100%;
	font-family: 'League Gothic', 'Arial Narrow Bold', Impact, sans-serif;
	font-size: 1.5em;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0;
	text-align: center;
}

nav {
	width: 70%;
	max-width: 312px;
	display: block;
	margin: 15px auto;
}

nav ul {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-content: center;
	text-align: right;
}

nav ul li {
	font-size: .9em;
	font-weight: 400;
	list-style: none;
	color: #839198;
}


/* LAYOUT **********/

.wrap {
	width: calc( 100% - 30px );
	max-width: 1338px;
	margin: 0 auto;
	padding: 0 15px;
	display: block;
}

.inset {
	width: calc( 100% - 15px );
	max-width: 1110px;
	margin: 0 auto 10px;
	padding: 50px 0 15px;
}

main {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
}

main .inset {
	margin: 0 auto 30px;
}

.full, .half, .two-third, .third {
	margin-bottom: 10px;
	padding: 0;
}

.half, .two-third, .third {
	width: 100%;
	height: auto;
}

.more {
	order: 3;
}

/* CONTENT **********/

.title {
	padding: 15px 0 30px;
}

.text {
	width: 100%;
}

.text a:link, a:visited
{
	text-decoration: underline;
}

ul.award {
	margin: 60px 0 0;
	padding: 0;
	display: block;
}

ul.award li {
	list-style: none;
	margin: 0;
	padding-right: 1em;
	display: inline-block;
	vertical-align: middle
}

ul.award li img {
	width: auto !important;
	height: 80px;
}



/* DETAILS **********/

.details {
	max-width: 450px;
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

dl {
	flex-basis: 50%;
	margin-top: 0;
	margin-bottom: 30px;
	display: flex;
	align-items: flex-start;
	align-self: flex-start;
	flex-flow: column wrap;
	flex-direction: column;
}

dt {
	margin-bottom: 5px;
	padding-right: 2em;
	flex-basis: 20%;
	font-size: .7em;
	color: #839198;
	text-align: left;
}

dd {
	margin: 0;
	font-weight: 500;
	flex-basis: 70%;
	flex-grow: 1;
	font-size: .7em;
}

dd a:link, dd a:visited {
	font-weight: 700;
	text-decoration: underline;
}

dd ul {
	margin: 0;
	padding: 0;
}

dd ul li {
	margin: 0;
	padding-bottom: 5px;
	list-style: none;
}

dd ul li:last-child {
	padding-bottom: 0;
}


/* TYPOGRAPHY **********/

p {
	font-size: .8em;
}

h1 {
	margin: 0 0 30px;
	font-weight: 500;
	line-height: 1.3;
}

h2 {
	margin: .5rem 0;
	font-size: 1.3em;
	font-weight: 400;
}

h3 {
	margin-top: 0;
	margin-bottom: 2em;
	font-size: .9em;
	font-weight: 700;
	line-height: 1.5;
	color: #839198;
}

h4 {
	font-weight: 500;
}

h5 {
	font-weight: 500;
}

h6 {
	margin: 0;
	font-size: .7em;
	font-weight: 400;
	color: #839198;
}

small {
	font-size: .7em;
	color: #839198;
}


/* IMAGES AND THUMBS **********/

img {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.full img, .half img, .two-third img, .third img {
	width: 100%;
	height: auto;
	display: block;
}

.img-small {
	width: 100px !important;
	margin-bottom: .5rem;
	display: inline-block !important;
}



/* LAYOUT - WEBSITES PAGE **********/

.website-collection .inset {
	padding-top: 0;
	margin-top: 25px;
	align-items: flex-start;
}

.website-collection .inset a {
	text-decoration: underline;
}

.website-collection h5, p {
	margin-top: 0;
}

.website-collection h5 {
	margin-right: 30px;
	margin-bottom: .75em;
}


/* FOOTER **********/

footer {
	margin-top: 30px;
	background-color: #F3F3F3;
	text-align: center;
}

footer .wrap {
	padding-bottom: 30px;
}

footer .inset {
	padding-top: 60px;

}

footer .third, footer .half
{
	padding: 15px 0;
	text-align: center;
}

footer h2 a:link, a:visited 
{
	text-decoration: underline;
}


/* PAGINATION **********/

.pagination {
	display: flex;
	flex-wrap: wrap;
}

.projects span {
	display: none;
}

.pagination h5 {
	margin: 0;
}

.pagination a {
	display: block;
}

.pagination h6 {
	transition: color .3s ease;
}

.projects a:hover h6, .projects a:hover + span {
	color: #000;
}

.projects a h5 {
	text-decoration: underline;
}

.projects .half {
	width: 100%;
}

.projects .half:first-child {
	order: 2;
}

.projects .half:last-child {
	order: 1;
}


/* BREAKPOINTS **********/

@media screen and (min-width: 400px) {

	.wrap {
		width: calc( 100% - 30px );
		padding: 0 15px;
	}

	.inset {
		width: calc( 100% - 30px );
		padding: 15px;
		margin: 30px auto;
	}

	main .inset {
		margin: 50px auto;
	}

	.half, .two-third, .third {
		width: calc( 50% - 5px );
	}

	.title {
		width: calc( 100% - 30px );
		padding-bottom: 20px;
	}

	header {
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: space-between;
	}

	.logotype {
		width: 50%;
		font-size: 1.75em;
		text-align: left;
	}

	nav {
		width: 50%;
		margin: 0;
		display: flex;
		align-content: center;
	}

	h3 {
		font-size: 1em;
	}

	h5, nav ul li {
		font-size: 1em;
	}

	dt {
	font-size: .8em;
	}

	dd {
		font-size: .8em;
	}

	footer .half, footer .two-third, footer .third {
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (min-width: 760px) {
	.wrap {
		width: calc( 100% - 60px );
		padding: 0 30px;
	}

	.inset {
		width: calc( 100% - 114px );
		padding: 0 57px;
		margin: 57px auto;
	}

	main .inset 
	{
		margin: 57px auto;
	}

	.img-small {
		width: 150px !important;
		margin-bottom: 1rem;
	}

	.title {
		width: calc( 100% - 114px );
		margin-bottom: 77px;
	}

	.logotype {
		width: 70%;
		font-size: 2em;
	}

	nav ul li {
		font-size: 1em;
	}

	.full, .half, .two-third, .third {
		margin-bottom: 20px;
	}

	.half, .two-third, .third, .projects .half {
		width: calc( 50% - 10px );
	}

	p {
		font-style: .9em;
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.1em;
		line-height: 1.6;
	}

	h6 {
		font-size: .8em;
	}

	.details {
		max-width: 100%;
	}

	dl {
		flex-basis: 33%;
	}

	.website-collection .inset {
		margin-top: 45px;
	}

	footer {
		margin-top: 60px;
	}

	footer .inset {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: space-between;
	}

	footer .third:nth-child(1) {
		flex-grow: 1;
		flex-basis: 22%;
		text-align: left;
	}

	footer .third:nth-child(2) {
		flex-grow: 2;
		flex-basis: 56%;
		text-align: center;
	}

	footer .third:nth-child(3) {
		flex-grow: 1;
		flex-basis: 22%;
		text-align: left;
	}

	.website-collection p {
		max-width: 70%;
	}

	.projects span {
		display: inline;
		font-weight: 900;
		font-size: 1.25em;
	}

	.projects .half:first-child {
		order: 1;
		text-align: left;
	}

	.projects .half:first-child span {
		padding: 0 10px 0 0;
	}

	.projects .half:last-child {
		order: 2;
		text-align: right;
	}

	.projects .half:last-child span {
		padding: 0 0 0 10px;
	}

}

@media screen and (min-width: 1025px) {

	.wrap {
		width: calc( 100% - 120px );
		padding: 0 60px;
	}

	.logotype {
		font-size: 2.5em;
	}

	.inset {
		margin: 60px auto ;
	}

	main .inset {
		margin: 60px auto 90px;
	}


	.img-small {
		width: 200px !important;
	}

	.title {
		width: calc( 100% - 114px );
		padding-top: 60px;
		padding-bottom: 60px;
		margin-right: auto; 
		margin-left: 0;
	}

	.full, .half, .two-third, .third, .projects .half {
		margin-bottom: 30px;
	}

	.full {
		width: 100%;
	}

	.full > p {
		padding-right: 1.5em;
		padding-left: 1.5em;
	}

	.half {
		width: calc( 50% - 15px );
	}

	.two-third {
		flex-basis: calc( ( ( 100% / 3 ) * 2 ) - 15px);
	}

	.third {
		flex-basis: calc( ( 100% / 3 ) - 15px);
	}

	h1 {
		margin: 0 60px 60px 0;
		font-size: 2.7em;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.375em;
	}

	h5, p, nav ul li {
		font-size: 1.25em;
	}

	h6 {
		font-size: .9em;
	}

	p {	
		margin-bottom: 2em;
		font-size: 1em;
		line-height: 1.5;
	}

	.details {
		margin-top: 90px;
	}

	dt {
	font-size: .9em;
	}

	dd {
		font-size: .9em;
	}

	ul.award {
		margin: 90px 0 0;
	}

	footer {
		margin-top: 100px;
	}
}

@media screen and (min-width: 1300px) {

	.inset {
		width: calc( 100% - 228px );
		padding: 0 114px;
		margin: 60px auto;
	}

	main .inset
	{
		margin: 90px auto;
		display: flex;
		justify-content: space-between;
	}

	h1 {
		margin: 0 120px 60px 0;
	}

	.title {
		padding-top: 70px;
		padding-bottom: 70px;
		margin-right: auto; 
		margin-left: 0;
	}

	.title h3 {
		width: calc( 72% - 114px );
	}

	.text {
		width: 60%;
	}

	.details {
		width: calc( 35% - 130px);
		margin-top: 0;
	}

	dl {
		margin-bottom: 1em;
		flex-basis: 100%;
		flex-flow: row wrap;
		flex-direction: row;
	}

	footer .wrap {
		padding-bottom: 30px;
	}

	footer .inset {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.website-collection h5 {
		flex-basis: 25%;
	}

	.website-collection p {
		flex-basis: 75%;
	}
}

