/* TYPE */

@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@font-face{ 
	font-family: 'Gilroy Light';
	src: url('../fonts/gilroy-light.eot');
	src: url('../fonts/gilroy-light.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/gilroy-light.woff') format('woff'),
	     url('../fonts/gilroy-light.ttf') format('truetype')
	     /*url('WebFont.svg#webfont') format('svg');*/
}
@font-face{ 
	font-family: 'Gilroy Extrabold';
	src: url('../fonts/gilroy-extrabold.eot');
	src: url('../fonts/gilroy-extrabold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/gilroy-extrabold.woff') format('woff'),
	     url('../fonts/gilroy-extrabold.ttf') format('truetype')
	     /*url('WebFont.svg#webfont') format('svg');*/
}

::-moz-selection
{ 
	color: #fff; 
	background: #000;  
}

::selection 
{ 
	color: #fff; 
	background: #000;  
}

strong
{
	font-family: 'Gilroy Extrabold', Futura, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

small 
{
	font-size: .8em;
	letter-spacing: 1.5px;
}

p
{	
	margin-bottom: 1.5em;
	font-size: 1em;
	line-height: 1.4;
}

h1, h2
{
	font-size: 1em;
}

a:link, a:visited
{
	color: inherit;
	text-decoration: none;
	position: relative;
}

.primary-type
{
	font-family: 'Gilroy Extrabold', Futura, Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.primary-type-alt
{
	font-size: 4em;
	color: #000;
	text-align: left;
	line-height: 1;
	letter-spacing: -2px;
	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

.secondary-type
{
	letter-spacing: -.5px;
}

.secondary-type, .primary-type-alt
{
	font-family: 'Fjalla One', 'Arial Narrow', Impact, sans-serif;
	font-weight: normal;
}

.primary-type-alt small
{
	margin-top: 16px;
	position: absolute;
}



/* LAYOUT */

body
{
	margin: 0 auto;
	font-family: 'Gilroy Light', Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: .5px;
}

header
{
	max-width: 1168px;
	margin: 0 auto 4em;
	padding-top: 2em;
}

.spotlight-wrap
{
	margin-bottom: 2em;
	padding-bottom: 1em;
	background-image: url(../../images/spotlight-audubon.jpg);
	background-position: center;
	color: #fff !important;
	position: relative;
}

.spotlight-wrap::before
{
	width: 100%;
	height: 100%;
	content: '';
	background: rgba( 0, 0, 0, .5);
	position: absolute;
	top: 0;
}

.spotlight-wrap .primary-type-alt
{
	max-width: 560px;
	margin: 0 auto;
	padding: 0 .5rem;
	color: rgba( 255,255,255, 1);
	mix-blend-mode: difference;
	z-index: 1;
}

.logotype
{
	text-transform: uppercase;
	font-size: 1.6em;
}

.logotype, nav
{
	width: 100%;
}

.logotype, nav ul
{
	text-align: center;
}

nav ul
{
	margin-left: 0;
	padding-left: 0;
}

nav ul li
{
	padding: 0 1em;
	display: inline-block;
	list-style: none;
	font-size: .7em;
}

.title
{
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.title-alt
{
	width: 100%;
	margin: 0;
	text-align: center;
}

.title-alt h1
{
	margin: 0;
	line-height: 1.05;
}

main
{
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding: 1em 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.main-alt
{
	margin-top: 0;
}

.main-cards
{
	max-width: 100%;
	margin-top: -1em;
	padding-top: 0;
}

.spacer
{
	width: 100%;
	display: block;
	height: 2em;
}


.half, .full
{
	margin: 1em 0;
	padding: 0 2em;
	display: inline-block;
}

.full
{
	width: 100%;
	flex-grow: 1;
}

.half
{
	width: 100%;
}

.third
{
	width: 50%;
	text-align: center;
}

.half img, .full img, .third img
{
	width: 100%;
	height: auto;
	display: block;
}

.pagination
{
	margin: 5em auto;
	text-align: center;
	font-size: .9em;
}

.pagination h4
{
	margin-bottom: 0;
}

.pagination a:link
{
	margin-bottom: .5em;
	padding: 1em;
	border: 1px solid;
	display: inline-block;
}


.pagination a:after
{
	display: none;
}

.pagination small
{
	font-family: 'Gilroy Light', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: .7em;
}

footer
{
	max-width: 1190px;
	margin: 0 auto;
	padding: 0 2em 1em;
	color: #6B6B6B;
	font-size: .7em;
}

footer .half
{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	display: block;
}

.first
{
	margin-top: 0;
}

.first .text
{
	padding-top: 0;
}

a.thumb
{
	display: block;
	background-color: #000;
	border-bottom: none !important;
}

a img
{
	transition: all .3s ease-in-out;
}


.home
{
	margin-bottom: 0em;
}

.home .spotlight-text
{
	display: block;
	width: 100%;
	margin-top: 5rem;
	text-align: center;
}

dl
{
	display: flex;
	align-items: baseline;
	flex-flow: row wrap;
}

dt
{
	padding-right: 2em;
	flex-basis: 17%;
	text-align: right;
	text-transform: lowercase;
}

dd
{
	flex-basis: 60%;
	flex-grow: 1;
	margin: 0;
}

dd, dt
{
	font-size: .8em;
}


.third-text-details
{
	width: 100%;
}

.third dl
{
	display: inline-flex;
	margin: 0;
	padding: .5em 0;
}

.third dt, .third dd
{
	flex-basis: auto;
	flex-grow: 0;
	width: 100%;
    text-align: center;
    padding-right: 0;
    padding-bottom: .25em;
}

.img-small
{
	width: 150px !important;
	margin: 2em auto 1em !important;
}

header a, .spotlight-text a
{
	border-bottom: 1px solid #fff;
	transition: border-bottom .3s ease;
}


.spotlight-wrap header a, .spotlight-text a
{
	border-bottom: 1px solid rgba( 0, 0, 0, 0);
}


.full a, .half a
{
	border-bottom: 1px solid #ccc;
	transition: border-bottom .1s linear;
}


@media (hover: hover)
{
	a:hover img
	{
		opacity: .75;
	}

	.pagination a:hover
	{
		text-decoration: none;
		color: #fff;
		background: #000;
	}

	header a:hover
	{
		border-bottom: 1px solid #000;
	}

	.spotlight-wrap header a:hover, .spotlight-text a:hover
	{
		border-bottom: 1px solid #fff;
	}

	.full a:hover, .half a:hover
	{
		border-bottom: 1px solid #000;
	}
}




@media screen and (min-width: 600px)
{
	main
	{
		width: calc( 100% - 2em);
		padding: 1em;
	}

	.half, .full
	{
		padding: 0 1em;
	}

	.half
	{
		width: calc( 50% - 2em);

	}

	.text
	{
		padding-right: 1em;
		padding-left: 1em;
	}

	.img-small
	{
		width: 200px !important;
	}

	.third-text-details
	{
		width: 50%;
	}
}



@media screen and (min-width: 825px)
{
	p 
	{
		font-size: 1.35em;
	}

	h1, h2
	{
		font-size: 1.6em;
	}

	header
	{
		width: calc( 100% - 4em);
		margin: 0 auto;
		padding: 1em 2em 3em;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}

	.logotype
	{
		width: 50%;
		/*margin-left: .5em;*/
		text-align: left;
		font-size: 1.8em;
	}

	nav
	{
		width: 50%;
	}

	nav ul
	{
		text-align: right;
	}

	nav ul li
	{
		font-size: .8em;
		padding: 0 1.5em;
	}

	nav ul li:last-child
	{
		padding-right: 0;
	}

	.inner .primary-type-alt h1
	{
		margin-left: .1em;
	}

	.third
	{
		width: calc( 100% / 3 );
		margin: 0 auto;
		text-align: center;
	}

	.full .text
	{
		margin: 0 auto;
		max-width: 700px;
	}

	.text
	{
		padding: 3em .5em;
	}

	.pagination
	{
		margin: 8em auto;
		font-size: 1em;
	}

	footer
	{
		display: flex;
		flex-wrap: nowrap;
	}

	footer p
	{
		font-size: 1em;
	}

	footer .half
	{
		text-align: left;
		display: inline-block;
	}

	footer .half:last-child
	{
		text-align: right;
	}

	dd, dt
	{
		font-size: 1em;
	}

	.pagination, footer
	{
		padding-right: 2em;
		padding-left: 2em;
	}

	.primary-type-alt
	{
		color: #f0f0f0;
	}

	.primary-type-alt h1
	{
		margin: 0;
		font-size: 2em;
	}

	.title-alt
	{
		margin: 0;
		text-align: left !important;
	}

	.main-alt
	{
		margin-top: -11em;
	}

	.spotlight-wrap .primary-type-alt
	{
		margin: 0;
	}

	.home .spotlight-text
	{
		text-align: right;
		margin-right: 1em;
	}
}

@media screen and (min-width: 1000px)
{
	.primary-type-alt h1
	{
		font-size: 2em;
	}
}

@media screen and (min-width: 1600px)
{
	.main-cards .half
	{
		width: calc( 33% - 2em);

	}
}


@media screen and (min-width: 2400px)
{
	.main-cards .half
	{
		width: calc( 25% - 2em);

	}
}


